
<div class="container" style="text-align: center" *ngIf="!this.showPartidos">
  <button class="btn btn-warning animated rollIn" (click)="this.emparentar()">
    <span>Mostrar Partidos</span>
  </button>
</div>

<div *ngIf="this.showPartidos">
  <div  *ngFor="let partido of this.proximosPartidos">
    <div class="container jumbotron  animated bounceInUp" style="text-align: center;">
      <p>{{partido.idEquipoLocal.nombre}} <strong>VS</strong> {{partido.idEquipoVisitante.nombre}}</p>

      <hr>

      <h5>Estadio:</h5>

      <p>{{partido.idEstadio.nombre}}</p>

      <hr>

      <h5>Fecha:</h5>

      <p>{{partido.fecha}}</p>

      <hr>

      <h5>Boletos</h5>

      <button class="btnBuy btn btn-lg btn-warning" (click)="partido.showBoletos=!partido.showBoletos">
        Mostrar/Ocultar Boletos
      </button>
      <br><br>

      <div *ngIf="partido.showBoletos" style="overflow-y: auto;max-height: 500px">
        <div *ngFor="let partAsiento of partido.asientos" class="animated animated bounceInLeft">
          <div class="jumbotron" style="text-align: left;background-color: white">
            <p><strong>Seccion: </strong>{{partAsiento.idAsiento.seccion}}</p>
            <p><strong>Fila: </strong>{{partAsiento.idAsiento.fila}}</p>
            <p><strong>Numero: </strong>{{partAsiento.idAsiento.numero}}</p>
            <p>{{partAsiento.precio}}</p>
            <p><strong>Disponibilidad: </strong>{{getDisponibleString(partAsiento.disponible)}}</p>
            <hr>
            <div *ngIf="partAsiento.disponible">
              <button class="btn btn-lg btn-outline-primary" (click)="this.comprar(partAsiento)">
                Comprar
              </button>
            </div>
            <div *ngIf="partAsiento.error">
              <div class="alert alert-warning">
                <p>No puedes comprar este boleto, las posibles causas son:</p>
                <ul>
                  <li>
                    Has llegado al limite de boletos por partido
                  </li>
                  <li>
                    Alguien compro el boleto miestras dudabas \ :v /
                  </li>
                </ul>

                <button class="btn btn-warning" (click)="partAsiento.error=false">
                  Ok
                </button>
              </div>

            </div>
          </div>
        </div>
      </div>



    </div>
    <hr>
  </div>
</div>

<div>

</div>
