
<div class="container">

  <h1>Bienvenido</h1>

  <div class="row animated bounceInLeft">
    <div class="col-lg-6" style="text-align: center;padding: 10px" >
      <button class="btn btn-primary" (click)="this.openSignIn()">
        Inicia Sesion
      </button>
    </div>
    <div class="col-lg-6" style="text-align: center;padding: 10px;">
      <button class="btn btn-outline-primary" (click)="this.openSignUp()">
        Registrarte
      </button>
    </div>
  </div>

</div>

<div class="container animated fadeInUp" *ngIf="this.signIn">
  <h1>Logeate</h1>

  <div class="form-group">
    <label class="col-form-label-sm">Nombre de Usuario:</label>
    <input class="form-control"
      placeholder="Tu nombre de usuario"
      type="text"
      [(ngModel)]="this.usuarioLog.nickname"
    >

    <label class="col-form-label-sm">Password:</label>

    <input
      class="form-control"
      type="password"
    [(ngModel)]="this.usuarioLog.password">

    <hr>

    <button class="btn btn-success"
            [disabled]="!this.usuarioLog.nickname||!this.usuarioLog.password"
            (click)="this.logear(this.usuarioLog)">
      Logearme
    </button>

  </div>

  <div *ngIf="this.noLog" class="alert-warning" style="padding: 15px">
      No existe usuario o password errado. Intenda de Nuevo
    <hr>
    <button class="btn btn-warning" (click)="this.noLog=false">
          OK
    </button>
  </div>

</div>

<div class="container animated fadeInUp" *ngIf="this.signUp">
  <h1>Registrate</h1>

  <div class="form-group">

    <label class="col-form-label-sm">Nombre Real:</label>

    <input
      class="form-control"
      type="text"
      placeholder="Tu nombre verdadero"
      [(ngModel)]="this.usuarioLog.nombre">

    <label class="col-form-label-sm">Nombre de Usuario:</label>
    <input class="form-control"
           placeholder="Tu nombre de usuario"
           type="text"
           [(ngModel)]="this.usuarioLog.nickname"
    >
    <label class="col-form-label-sm">Password:</label>

    <input
      class="form-control"
      type="password"
      placeholder="Clave"
      [(ngModel)]="this.usuarioLog.password">

    <hr>

    <button class="btn btn-success"
            [disabled]="!this.usuarioLog.nickname||!this.usuarioLog.password"
            (click)="this.registrar(this.usuarioLog)">
      Registrarme
    </button>

  </div>


  <div class="alert-warning" style="padding: 15px" *ngIf="this.usuarioRepetido">
    El nombre de usuario ya existe Ingresa uno Nuevo.
    <button class="btn btn-warning" (click)="this.usuarioRepetido=false;">
      OK
    </button>
  </div>
</div>


