<div style="background-color: black" class="animated bounceInUp">

  <div class="container card" style="padding: 15px">
    <div class="card-block">
      <h1>Mis Compras</h1>
    </div>


  </div>
  <hr>
  <div class="container">
    <div class="card">
      <div class="card-block">
        <h1>Mi Reporte</h1>

        <p><strong>Total de Boletos Adquiridos</strong> {{this.miReporte.boletosComprados}}</p>
        <p><strong>Total en Compras</strong>  {{this.miReporte.totalEnCompras}}</p>

      </div>
    </div>
  </div>
  <hr>
  <div *ngFor="let boleto of this.misBoletos">

    <div class="container card">
      <div class="card-block">
        <h3>Partido:</h3>
        <p>{{boleto.idPartido.idEquipoLocal.nombre}} <strong>VS</strong> {{boleto.idPartido.idEquipoVisitante.nombre}}</p>
        <hr>
        <h3>Estadio:</h3>
        <p>{{boleto.idPartido.idEstadio.nombre}}</p>
        <p>Dir: {{boleto.idPartido.idEstadio.direccion}}</p>
        <p>Ciudad: {{boleto.idPartido.idEstadio.ciudad}}</p>
        <hr>
        <h3>Asiento</h3>
        <p><strong>Seccion:</strong>{{boleto.idPartidoAsiento.idAsiento.seccion}}</p>
        <p><strong>Fila:</strong>   {{boleto.idPartidoAsiento.idAsiento.fila}}</p>
        <p><strong>Numero:</strong> {{boleto.idPartidoAsiento.idAsiento.numero}}</p>
        <hr>
        <p><strong>Costo: </strong> {{boleto.idPartidoAsiento.precio}}</p>

      </div>

    </div>
    <hr>

  </div>


</div>
